<template>
	<div>
		<v-side-nav id="main-sidebar" fixed class="light-blue lighten-1 ">
			<ul>
				<li class="logo">
					<i class="material-icons">book</i>IteteiBabu
				</li>
				<li>
					<router-link :to="{name: 'home'}" exact class="blue-text text-lighten-5" active-class="is-active">
						Home
					</router-link>
				</li>
				<li>
					<router-link to="/items" exact class="blue-text text-lighten-5" active-class="is-active">
						Items
					</router-link>
				</li>
				<li>
					<router-link to="/sales" exact class="blue-text text-lighten-5" active-class="is-active">
						Sales
					</router-link>
				</li>
				<li>
					<router-link to="/customers" exact class="blue-text text-lighten-5" active-class="is-active">
						Customers
					</router-link>
				</li>
				<li>
					<router-link :to="{name: 'sales.babu'}" exact class="blue-text text-lighten-5" active-class="is-active">
						Babu
					</router-link>
				</li>
				<li>
					<router-link :to="{name: 'payments.index'}" exact class="blue-text text-lighten-5" active-class="is-active">
						Payments
					</router-link>
				</li>
			</ul>
		</v-side-nav>
	</div>
</template>
<script>
	export default {
		data () {
            return {
                nav: {
                    edge: 'right'
                }
            }
        }
    }
</script>
<style>
@media only screen and (min-width: 992px){
	.app-container{
		padding-left:240px;
	}
	.side-nav.fixed{
		width: 240px;
	}
	.side-nav a{
		font-weight: 300
	}
	.side-nav a.is-active{
		background-color: #039be5;
	}
}
</style>
