<template id="">
    <div class="">
        <div class="row" v-if="currentItem">
            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <input type="text" readonly v-model="currentItem.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <input type="number" id="cost" v-bind:value="currentItem.cost">
                        <label for="cost">Cost</label>
                    </div>
                    <div class="col s4">
                        <input type="number" id="price" v-bind:value="currentItem.price">
                        <label for="price">Price</label>
                    </div>
                    <div class="col s4">
                        <input type="number" v-bind:value="currentItem.stock" id="stock">
                        <label for="stock">Stock</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn blue" @click="update">Save</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Item</th>
                            <th>Paid</th>
                            <th>Discount</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="sale in history">
                            <td>{{sale.doc.date}}</td>
                            <td>
                                <router-link :to="{name: 'customers.show', params: {_id: sale.doc.customer._id}}" exact class="orange-text" active-class="is-active">
                                    {{sale.doc.customer.name}}
            					</router-link>
                            </td>
                            <td>{{sale.doc.item.name}}</td>
                            <td>{{sale.doc.paid}}</td>
                            <td>{{sale.doc.discount}}</td>
                            <td>{{sale.doc.balance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {}
    },
    methods:{
        update(){
            let payload = {
                cost: document.getElementById('cost').value,
                price: document.getElementById('price').value,
                stock: document.getElementById('stock').value,
                item: this.currentItem
            }

            this.$store.dispatch('updateItem', payload)
        }
    },
    computed: mapGetters({
        currentItem: 'item',
        history: 'customersHistory',
    }),
    beforeCreate () {
        this.$store.dispatch('setCurrentItemById', this.$route.params._id)
        this.$store.dispatch('getItemHistory', this.$route.params._id)
    }
}
</script>

<style lang="css">
</style>
