<template id="">
<div>
    <div class="row">
        <h5 class="light">Items</h5>
    </div>
    <div class="row">
		<div class="col m8">
            <table class="responsive-table">
				<thead>
					<tr>
						<th data-field="name">Name</th>
						<th data-field="stock">Stock</th>
						<th data-field="cost">Cost</th>
						<th data-field="price">Price</th>
						<th data-field=""></th>
					</tr>
				</thead>
				<tbody>
                    <tr v-for="item in items">
                        <td class="mdl-data-table__cell--non-numeric" >
                            <router-link :to="{name: 'items.show', params: {_id: item._id}}" exact class="orange-text" active-class="is-active">
                                {{item.name}}
                            </router-link>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric" >{{item.stock}}</td>
                        <td class="mdl-data-table__cell--non-numeric" >{{item.cost}}</td>
                        <td class="mdl-data-table__cell--non-numeric" >{{item.price}}</td>
                        <td>
                            <router-link :to="{name: 'items.show', params:{_id: item._id}}" exact  active-class="is-active">
                				<i class="material-icons">reorder</i>
                			</router-link>
							<a href="#" @click="remove(item, $event)" title="Remove">
								<i class="material-icons">delete</i>
							</a>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
        <div class="col m4">
            <new-item v-on:create="create"></new-item>
        </div>
	</div>
</div>
</template>
<script type="text/javascript">
    import NewItem from './NewItem.vue'
    import { mapGetters, mapActions } from 'vuex'
    export default{
        components:{
			NewItem
		},
		computed: mapGetters({
			items: 'allItems',
			currentItem: 'item'
		}),
        methods: {
            // actions dispatched
            print(item){
                console.log('print')
            },
            remove(item, event){
                event.preventDefault();
                this.$store.dispatch('removeItem', item)
            },
            create(item){
                console.log(item)
                this.$store.dispatch('saveItem', item)
            },
            reset(){
                this.$store.dispatch('resetCurrent')
            }
        },
        beforeCreate: function(){
            this.$store.dispatch('getItems');
        },
    }
</script>
