<template id="">
    <div class="">
        <div class="row">
            <div class="input-field col s12">
                <input v-model:value="Name" type="text" id="name">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input  v-model:value="Cost" type="text" d="cost">
                <label for="cost">Cost</label>
            </div>
            <div class="input-field col s4">
                <input  v-model:value="Price" type="text" id="price">
                <label for="price">Price</label>
            </div>
            <div class="input-field col s4">
                <input class="mdl-textfield__input"  v-model:value="Stock"type="text" id="stock">
                <label for="stock">Stock</label>
            </div>
        </div>
        <div class="mdl-spacer">
            <button class="waves-effect waves-light btn" @click="saveItem">SAVE</button>
        </div>
    </div>
</template>
<script>
    export default{
        data:function() {
            return{
                Name: '',
                Cost: '',
                Price: '',
                Stock: ''
            }
        },
        methods: {
            test: function(){
                console.log(this.stock)
            },
            saveItem: function(){
                console.log(this.Price)
                if(this.Name && this.Cost && this.Stock && this.Price){
                    var item = {
                        name: this.Name,
                        cost: this.Cost,
                        price: this.Price,
                        stock: this.Stock,
                    }
                    this.$emit('create', item);
                    this.Name = '';
                    this.Cost = '';
                    this.Price = '';
                    this.Stock = '';
                }
            },
            reset:function(){
                this.$emit('reset');
            }
        }
    }
</script>
