<template lang="">
    <div class="form">
        <input type="text" name="name" v-model:value="name">
        <button type="button" class="waves-effect waves-light btn" name="button" @click="save">Save</button>
    </div>
</template>

<script>
export default {
    data () {
        return {
            name: ''
        }
    },
    methods: {
        save: function(){
            if(this.name.length > 0 ){
                this.$store.dispatch('saveCustomer', {name: this.name});
            }
            this.name = '';
        }
    },
  components: {}
}
</script>

<style lang="css">
</style>
