<template>
    <div class="customers">
        <div class="row">
            <div class="col m6">
                <div class="row">
                    <h5 class="light">Customer</h5>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="customer in allCustomers">
                            <td>
                                {{customer.name}}
                            </td>
                            <td>
                                <router-link :to="{name: 'customers.show', params: {_id: customer._id}}" exact class="orange-text" active-class="is-active">
            						<i class="material-icons">reorder</i>
            					</router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col m6">
                <h5 class="light">New Customer</h5>
                <customer-form></customer-form>
            </div>
        </div>
    </div>
</template>

<script>
import CustomerForm from './CustomerForm.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
    computed: mapGetters({
        allCustomers: 'allCustomers',
        currentCustomer: 'currentCustomer'
    }),
    components:{
        CustomerForm
    },
    methods: {
        remove: function(customer){
            console.log(customer)
            this.$store.dispatch('deleteCustomer', customer);
        }
    },
    onCreate: function(){
        // if(this.allCustomers.length == 0){
        //     console.log('empty')
        //     this.$store.dispatch('getCustomers');
        // }
    },
}
</script>

<style lang="css">
</style>
