<template>
    <div class="customers">
        <h5 class="light">Purchases by {{currentCustomer.name}}</h5>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Item</th>
                    <th>Paid</th>
                    <th>Discount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="sale in history">
                    <td>{{sale.doc.date}}</td>
                    <td>
                        <router-link :to="{name: 'items.show', params: {_id: sale.doc.item._id}}" exact class="orange-text" active-class="is-active">
                            {{sale.doc.item.name}}
                        </router-link>
                    </td>
                    <td>{{sale.doc.paid}}</td>
                    <td>{{sale.doc.discount}}</td>
                    <td>{{sale.doc.balance}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {}
    },
    computed: mapGetters({
        currentCustomer: 'currentCustomer',
        history: 'customersHistory',
    }),
    created () {
        this.$store.dispatch('setCurrentCustomerById', this.$route.params._id)
        this.$store.dispatch('getCustomerHistory', this.$route.params._id)
    },
    methods: {},
    components: {},
}
</script>

<style lang="css">
</style>
