<template>
	<div id="app">
		<navigation></navigation>
		<div class="app-container">
			<v-container>
				<transition
					name="custom-classes-transition"
					enter-active-class="animated fadeIn"
					leave-active-class="animated fadeOutRight"
				>
					<router-view></router-view>
				</transition>
			</v-container>
		</div>
	</div>
</template>

<script>
	import Navigation from './components/layout/Navigation.vue'

	export default {
		components: {
			Navigation
		},
		beforeCreate: function(){
			this.$store.dispatch('getCustomers');
			this.$store.dispatch('getItems');
			this.$store.dispatch('getSales');
		}
	}
</script>

<style>
.container {
	width: 95%
}
.animated.fadeOutRight {
	position: absolute;
	display: none
}
.animated.fadeInLeft{
	animation-duration: .1s
}
</style>
