<template>
    <div>
        <div class="row">
            <div class="col s7">
                <h5 class="light">Sales</h5>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Item</th>
                            <th>Paid</th>
                            <th>Discount</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="sale in sales">
                            <td>{{sale.date}}</td>
                            <td>
                                <router-link :to="{name: 'customers.show', params: {_id: sale.customer._id}}" exact class="orange-text" active-class="is-active">
                                    {{sale.customer.name}}
            					</router-link>
                            </td>
                            <td>
                                <router-link :to="{name: 'items.show', params: {_id: sale.item._id}}" exact class="orange-text" active-class="is-active">
                                    {{sale.item.name}}
                                </router-link>
                            </td>
                            <td>{{sale.paid}}</td>
                            <td>{{sale.discount}}</td>
                            <td>{{sale.balance}}</td>
                            <td>
                                <a href="#" @click="setToPay(sale, $event)"><i class="material-icons">check</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s5" v-if="Object.keys(currentSale).length !== 0">
                <div class="row">
                    <h5 class="thin">Pay</h5>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input type="text" name="paid" v-model="paid" id="paid" placeholder="Amount">
                        <label for="paid" class="active">Amount</label>
                    </div>
                    <div class="input-field col s4">
                        <a href="#" class="btn " @click="pay($event)"><i class="material-icons">done_all</i>Pay</a>
                    </div>
                    <div class="input-field col s4">
                        <a href="#" class="btn red" @click="cancel($event)"><i class="material-icons ">clear</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    data(){
        return {
            paid: 0
        }
    },
    computed: mapGetters({
        sales: 'allBas',
        currentSale: 'currentSale'
    }),
    methods: {
        setToPay(sale, e){
            e.preventDefault()
            this.paid = sale.balance
            this.$store.dispatch('setCurrentSale', sale)
        },
        pay(e){
            e.preventDefault()
            if(this.paid){
                let o = {
                    sale: this.currentSale,
                    paid: parseInt(this.paid)
                }

                this.$store.dispatch('payCurrentSale', o)

                this.paid = 0
                this.$store.dispatch('setCurrentSale', {})
            }
        },
        cancel(e){
            e.preventDefault()
            this.paid = 0
            this.$store.dispatch('setCurrentSale', {})
        }
    }
}
</script>
