<template>
    <div>
        <div class="row">
            <h5 class="light">New Sale Entry</h5>
        </div>
        <div class="row">
            <div class="input-field col s5" v-if="this.customers.length>0">
                <v-select name="customers" id="customers" placeholder="Select Customer" :items="customers" v-on:input="setCustomer($event)"></v-select>
                <label for="customers">Customers</label>
            </div>
            <div class="input-field col s5">
                <v-select name="items" id="items" :items="items" v-on:input="setItem($event)"  v-if="this.items.length>0"></v-select>
                <label for="items">Items</label>
            </div>
            <div class="input-field col s2">
                <input type="text" name="price" value="" id="price"  v-model="currentItem.price" placeholder="Price">
                <label for="price" class="active">Price</label>
            </div>
        </div>
        <div class="row">
            <template v-if="currentItem">
                <div class="input-field col s3">
                    <input type="text" name="quantity" value="" id="quantity"  v-model="quantity" placeholder="Quantity"  @input="calculate">
                    <label for="quantity" class="active">Quantity</label>
                </div>
                <div class="input-field col s3">
                    <input type="text" name="paid" id="paid" v-model="paid" @input="calculate">
                    <label for="paid" class="active">Paid</label>
                </div>
                <div class="input-field col s3">
                    <input type="text" name="discount" id="discount" v-model="discount" @input="calculateBalance" >
                    <label for="discount" class="active">Discount</label>
                </div>
                <div class="input-field col s3">
                    <label for="balance" class="active">Balance</label>
                    <input type="text" name="balance" v-model="balance">
                </div>
            </template>
            <div class="input-field col s3" v-if="this.currentItem._id">
                <button class="waves-effect waves-light btn" @click="save">button</button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data: function(){
        return{
            customerId: 0,
            itemId: 0,
            paid: 0,
            discount: 0,
            balance: 0,
            quantity: 1,
            currentItem: {},
            currentCustomer: {}
        }
    },
    computed: mapGetters({
        customers: 'allCustomersForSaleView',
        items: 'allItemsForSalesView',
        currentItem: 'item',
        currentCustomer: 'currentCustomer'
    }),
    methods: {
        test: function(){
            console.log('asdf')
        },
        setItem: function(itemId){
            this.$store.dispatch('setCurrentItemById', itemId)
        },
        setCustomer: function(customerId){
            this.$store.dispatch('setCurrentCustomerById', customerId)
        },
        calculate: function(){
            this.discount = ( this.currentItem.price * this.quantity ) - this.paid;
            this.balance = ( this.currentItem.price * this.quantity ) - this.paid - this.discount;
        },
        calculateBalance: function(){
            this.balance = ( this.currentItem.price * this.quantity ) - this.paid - this.discount
        },
        save: function(){
            let d = new Date();
            let sale = {
                date: d.getDate() + '-' + (d.getMonth() + 1) + '-' + d.getFullYear(), // + ' ' + (d.getHours() <= 12 | d.getHours()-12) + ':' + d.getMinutes() + ' ' + ( d.getHours() >= 12 ? 'pm' : 'am' ),
                item: this.currentItem,
                customer: this.currentCustomer,
                quantity: this.quantity,
                paid: this.paid,
                total: (this.currentItem.price * this.quantity),
                discount: this.discount,
                balance: this.balance,
            }
            this.$store.dispatch('soldItem', sale);
            this.$store.dispatch('resetSale');
        }
    },
    created: function(){
    }
}
</script>
