<template>
	<div>
		<table>
			<thead>
				<tr>
					<th>Invoice</th>
					<th>Customer</th>
					<th>Paid</th>
					<th>Total Balance</th>
					<th>Total Paid</th>
				</tr>	
			</thead>
			<transition-group tag="tbody">
				<tr  v-for="p in payments" key="tr">
					<td>{{p.doc.sale._id}}</td>
					<td>{{p.doc.sale.customer.name}}</td>
					<td>{{p.doc.paid}}</td>
					<td>{{p.doc.sale.balance}}</td>
					<td>{{p.doc.sale.paid}}</td>
				</tr>
			</transition-group>
		</table>
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex'
	import * as types from '../../store/modules/payments/types'

	export default{
		computed: mapGetters({
			payments: types.getters.payments
		}),
		created: function(){
			this.$store.dispatch(types.actions.getPayments)
		}
	}
</script>