<template>
    <div>
        <div class="row">
            <div class="col s5">
                <new-sales></new-sales>
            </div>
            <div class="col s7">
                <h5 class="light">Sales</h5>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>Total</th>
                            <th>Paid</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="sale in sales" :class="( ( sale.balance > 0 ) ? ' lime lighten-5 ' : '' )">
                            <td>
                                <router-link :to="{name: 'sales.show', params: {_id: sale._id}}" exact class="orange-text" active-class="is-active">
                                    {{sale.date}}
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{name: 'customers.show', params: {_id: sale.customer._id}}" exact class="orange-text" active-class="is-active">
                                    {{sale.customer.name}}
            					</router-link>
                            </td>
                            <td>
                                <router-link :to="{name: 'items.show', params: {_id: sale.item._id}}" exact class="orange-text" active-class="is-active">
                                    {{sale.item.name}}
                                </router-link>
                            </td>
                            <td>{{sale.quantity}}</td>
                            <td>{{sale.total}}</td>
                            <td>{{sale.paid}}</td>
                            <td>{{sale.balance}}</td>
                            <td>
                                <a href="#" @click="removeSale($event, sale)">
                                    <i class="material-icons">delete</i>
                                </a>
                                <router-link :to="{name: 'sales.show', params: {_id: sale._id}}" exact active-class="is-active">
                                    <i class="material-icons">list</i>
                                </router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import NewSales from './NewSales.vue'

export default {
    computed: mapGetters({
        sales: 'allSales'
    }),
    components:{
        NewSales
    },
    methods: {
        setItem(){
            this.$store.dispatch('setCurrentItemById', this.itemId)
        },
        removeSale(event, sale){
            event.preventDefault()
            this.$store.dispatch('removeSale', sale)
        }
    },
    beforeCreate: function(){
        this.$store.dispatch('getSales');
    }
}
</script>
